<div class="row">
  <div class="col-md-8">
      <div class="user-profile">
        <h1><u>Your Profile:</u></h1>
        <h3 class="media-heading">Username: <%= @user.name %></h3>
      </div>
    </div>
  </div>
</div>