<%= form_for @user.items.build, remote: true do |f| %>
  
  <div class="form-group">
    <%= f.label :name, "New To-Do Item:" %>
    <%= f.text_area :name, rows: 2, class: 'form-control', placeholder: "Add your to-do here." %>
  </div>

  <div class="form-group">
    <%= f.submit "Create To-Do", class: 'btn btn-success' %>
  </div>

<% end %>
