<div class="row">
  <div class="col-md-8">
    <p>
      <%= item.name %>
      <small><i>     Created <%= time_ago_in_words(item.created_at) %> ago</i></small>
      <%= link_to "", item, method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
    </p>
  </div>
</div>
