<div class="row" id="item-<%= item.id %>">
  <div class="col-md-8">
    <p>
      <%= item.name %>
      <small><i>     You have 
        <%= pluralize(item.days_left, 'day') %>
        left to complete.</i></small>
      <%= link_to "", item, method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
    </p>
  </div>
</div>
